.pattern-gallery-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* changed from center to align top */
    height: 100vh;
    margin: 10px 100px;
    border-radius: 25px;
    background: var(--primary-color);
    overflow-y: auto;
    padding: 40px;
}

.pattern-gallery-page {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.pattern-gallery-page h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--dark-color);
}

.pattern-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* exactly 3 columns */
    gap: 20px;
}


.pattern-card {
    border: 2px solid transparent;
    background-color: #f7f7f7;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: border 0.2s, background-color 0.2s;
}

.pattern-card.selected {
    border: 2px solid var(--tertiary-color);
}

.download-btn {
    margin-top: 30px;
    align-self: center;
    padding: 12px 24px;
    background-color: var(--success-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.download-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.download-btn:hover {
    transform: translateY(-2px);
}

.delete-btn {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: var(--danger-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #b02a37;
}
