.custom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 10px 70px;
    border-radius: 50px !important;
    background-color: var(--secondary-color);
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 1000;
}

/* Placeholder icon styling */
.placeholder-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.link-container {
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--primary-color);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.link-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.link-container:active {
    transform: scale(.98);
    border-color: var(--success-color);
    color: var(--tertiary-color) !important;
}

.link {
    color: white ;
    margin: 0 15px;
    padding: 10px;
    font-weight: 900;
    transition: all 0.3s ease;
    text-decoration: none;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logout-btn {
    height: 35%;
    width: 30%;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logout-btn:hover {
    background-color: var(--danger-color);
    color: white !important;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media (max-width: 992px) {
    .custom-navbar {
        margin: 10px;
        height: auto;
        padding: 15px 0;
    }

    .custom-navbar .navbar-collapse {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: var(--primary-color);
        padding: 15px;
        margin-top: 10px;
    }

    .custom-link {
        margin: 10px 0;
    }
}

body {
    padding-top: 20px;
}

.navbar-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%; /* adjust as needed */
}

.nav-right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.active-link {
    background-color: var(--primary-color);
    border-color: var(--success-color);
    color: var(--tertiary-color) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.active-link .link {
    color: var(--tertiary-color) !important; /* or any contrasting color */
}