.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px 100px;
    border-radius: 25px;
    background: var(--primary-color);
}

.main-content {
    text-align: center;
    max-width: 400px;
    width: 90%;
    padding: 2rem;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}